.product-form{

background:white;

padding:30px;

border-radius:10px;

max-width:700px;

}





.product-form input,
.product-form textarea{

width:100%;

padding:14px;

margin-bottom:15px;

border:1px solid #ddd;

border-radius:5px;

font-size:15px;

}



.product-form textarea{

height:120px;

resize:none;

}





.product-form label{

display:flex;

gap:10px;

margin-bottom:20px;

}





.product-form button{

width:100%;

padding:15px;

background:#ff9900;

border:none;

font-weight:bold;

cursor:pointer;

font-size:16px;

}