.admin-header{

display:flex;

justify-content:space-between;

align-items:center;

margin-bottom:30px;

}



.admin-header button{

background:#ff9900;

border:none;

padding:14px 25px;

font-weight:bold;

cursor:pointer;

}





.product-table{

background:white;

padding:20px;

border-radius:10px;

overflow-x:auto;

}





table{

width:100%;

border-collapse:collapse;

}



th{

background:#232f3e;

color:white;

padding:15px;

}



td{

padding:15px;

border-bottom:1px solid #eee;

text-align:center;

}





td img{

width:70px;

height:70px;

object-fit:contain;

}





.edit{

background:#007185;

color:white;

border:none;

padding:8px 15px;

margin-right:10px;

cursor:pointer;

}





.delete{

background:#cc0c39;

color:white;

border:none;

padding:8px 15px;

cursor:pointer;

}