.admin-sidebar{

width:260px;

height:100vh;

background:#232f3e;

color:white;

padding:25px;

position:fixed;

left:0;

top:0;

}





.admin-sidebar h2{

text-align:center;

margin-bottom:40px;

color:#ff9900;

}





.admin-sidebar nav{

display:flex;

flex-direction:column;

gap:15px;

}





.admin-sidebar a{

color:white;

text-decoration:none;

padding:14px;

display:flex;

align-items:center;

gap:12px;

border-radius:5px;

}



.admin-sidebar a:hover{

background:#37475a;

}





.admin-sidebar .active{

background:#ff9900;

color:black;

}





.admin-sidebar button{

position:absolute;

bottom:30px;

left:25px;

width:210px;

padding:14px;

border:none;

background:#cc0c39;

color:white;

cursor:pointer;

font-weight:bold;

border-radius:5px;

}