.admin-orders{

padding:30px;

}



.admin-orders h1{

font-size:32px;

margin-bottom:30px;

color:#232f3e;

}



.orders-table-container{

overflow-x:auto;

background:white;

border-radius:10px;

box-shadow:

0 5px 15px rgba(0,0,0,.1);

}





table{

width:100%;

border-collapse:collapse;

}



th{

background:#232f3e;

color:white;

padding:15px;

text-align:left;

}



td{

padding:15px;

border-bottom:1px solid #eee;

}





select{

padding:8px;

border-radius:5px;

border:1px solid #ccc;

cursor:pointer;

}





.status{

padding:6px 12px;

border-radius:20px;

font-size:13px;

font-weight:bold;

}



.status.Pending{

background:#fff3cd;

color:#856404;

}



.status.Processing{

background:#cfe2ff;

color:#084298;

}



.status.Shipped{

background:#d1e7dd;

color:#0f5132;

}



.status.Delivered{

background:#198754;

color:white;

}



.status.Cancelled{

background:#f8d7da;

color:#842029;

}





.admin-loading{

text-align:center;

margin-top:50px;

}