/* =========================
   Category Section
========================= */

.category-section{

padding:50px 40px;

text-align:center;

background:#f7f7f7;

}



.category-section h2{

font-size:32px;

font-weight:800;

color:#111;

margin-bottom:10px;

}



.category-section p{

color:#666;

font-size:17px;

margin-bottom:35px;

}



/* Category Grid */

.category-grid{

display:grid;

grid-template-columns:repeat(4,1fr);

gap:25px;

}



/* Category Card */

.category-card{

background:white;

text-decoration:none;

color:#111;

padding:25px;

border-radius:15px;

box-shadow:0 5px 15px rgba(0,0,0,0.12);

transition:0.3s;

display:flex;

flex-direction:column;

align-items:center;

}



.category-card:hover{

transform:translateY(-8px);

box-shadow:0 10px 25px rgba(0,0,0,0.2);

}



/* Category Image */

.category-card img{

width:140px;

height:140px;

object-fit:cover;

border-radius:50%;

margin-bottom:15px;

}



/* Category Name */

.category-card h3{

font-size:22px;

font-weight:700;

margin:8px 0;

}



/* Products Count */

.category-card span{

color:#777;

font-size:15px;

}



/* =========================
   Mobile Responsive
========================= */

@media(max-width:900px){


.category-grid{

grid-template-columns:repeat(2,1fr);

}


}



@media(max-width:500px){


.category-section{

padding:30px 15px;

}


.category-grid{

grid-template-columns:1fr;

}



.category-card img{

width:110px;

height:110px;

}


}