.footer{

background:#131921;

color:white;

padding-top:50px;

}



.footer-container{

max-width:1200px;

margin:auto;

padding:0 30px;

display:grid;

grid-template-columns:

repeat(4,1fr);

gap:40px;

}





.footer-column h3{

font-size:20px;

margin-bottom:20px;

color:#ff9900;

}





.footer-column p{

color:#ddd;

line-height:1.6;

}





.footer-column ul{

list-style:none;

}





.footer-column li{

margin-bottom:12px;

color:#ddd;

cursor:pointer;

}



.footer-column li:hover{

color:#ff9900;

}






.social-icons{

display:flex;

gap:20px;

font-size:25px;

}



.social-icons svg{

cursor:pointer;

transition:.3s;

}



.social-icons svg:hover{

color:#ff9900;

transform:scale(1.2);

}






.footer-bottom{

margin-top:40px;

padding:20px;

text-align:center;

background:#0f1111;

color:#aaa;

}





@media(max-width:768px){


.footer-container{

grid-template-columns:

repeat(2,1fr);

}


}



@media(max-width:500px){


.footer-container{

grid-template-columns:1fr;

}


}