.mobileMenu{

    position:fixed;

    top:0;

    left:-100%;

    width:280px;

    height:100vh;

    background:#fff;

    z-index:9999;

    box-shadow:
    5px 0 20px rgba(0,0,0,.2);

    transition:.4s;

}



.mobileMenu.active{

    left:0;

}



.mobileHeader{

    height:70px;

    background:#131921;

    color:white;

    display:flex;

    align-items:center;

    justify-content:space-between;

    padding:0 20px;

}



.mobileHeader h2{

    color:#ff9900;

}



.mobileHeader button{

    background:none;

    border:none;

    color:white;

    font-size:25px;

    cursor:pointer;

}





.mobileMenu ul{

    list-style:none;

    padding:20px;

}



.mobileMenu li{

    margin:20px 0;

    border-bottom:1px solid #eee;

    padding-bottom:15px;

}



.mobileMenu a{

    text-decoration:none;

    color:#111;

    font-size:18px;

    font-weight:600;

}



.mobileMenu a:hover{

    color:#ff9900;

}