.newsletter{

background:#232f3e;

padding:50px 20px;

color:white;

text-align:center;

}



.newsletter-content{

max-width:700px;

margin:auto;

}



.newsletter h2{

font-size:32px;

margin-bottom:10px;

}



.newsletter p{

color:#ddd;

margin-bottom:25px;

}





.newsletter form{

display:flex;

justify-content:center;

gap:10px;

}



.newsletter input{

width:400px;

padding:15px;

border:none;

border-radius:5px;

font-size:16px;

outline:none;

}





.newsletter button{

padding:15px 30px;

background:#ff9900;

border:none;

border-radius:5px;

font-weight:bold;

cursor:pointer;

}



.newsletter button:hover{

background:#e68a00;

}




.newsletter-message{

margin-top:20px;

color:#00ff99;

}



@media(max-width:600px){


.newsletter form{

flex-direction:column;

}


.newsletter input{

width:100%;

}



}