.product-details{

padding:40px;

display:grid;

grid-template-columns:

1fr 1fr;

gap:40px;

background:#fff;

}





.product-gallery img{

width:100%;

max-height:500px;

object-fit:contain;

}





.product-info h1{

font-size:32px;

color:#232f3e;

}





.brand{

color:#777;

margin:10px 0;

}





.price-box{

display:flex;

gap:15px;

align-items:center;

margin:20px 0;

}





.price-box h2{

color:#b12704;

font-size:30px;

}



.price-box span{

background:#cc0c39;

color:white;

padding:8px;

border-radius:5px;

}





.description{

line-height:1.7;

color:#444;

}





.stock{

color:green;

font-weight:bold;

}





.actions{

display:flex;

gap:15px;

margin-top:25px;

}





.actions button{

padding:15px 25px;

border:none;

background:#ff9900;

font-weight:bold;

cursor:pointer;

display:flex;

gap:8px;

align-items:center;

}





.wishlist{

background:#232f3e!important;

color:white;

}





.reviews-section{

grid-column:1/-1;

margin-top:40px;

}





@media(max-width:768px){


.product-details{

grid-template-columns:1fr;

padding:20px;

}


}