.reviewCard{

background:white;

padding:20px;

border-radius:10px;

box-shadow:
0 4px 15px rgba(0,0,0,.08);

margin-bottom:20px;

}



.reviewHeader{

display:flex;

justify-content:space-between;

align-items:center;

margin-bottom:15px;

}



.userInfo h4{

font-size:18px;

color:#232f3e;

margin-bottom:5px;

}



.userInfo p{

font-size:13px;

color:#777;

}



.reviewComment{

color:#444;

line-height:1.6;

font-size:15px;

}