.search-bar{

display:flex;

width:100%;

max-width:650px;

}



.search-bar input{

flex:1;

padding:14px;

border:none;

outline:none;

font-size:16px;

border-radius:5px 0 0 5px;

}





.search-bar button{

width:60px;

border:none;

background:#febd69;

font-size:20px;

cursor:pointer;

border-radius:0 5px 5px 0;

}



.search-bar button:hover{

background:#f3a847;

}




@media(max-width:600px){


.search-bar input{

font-size:14px;

}



.search-bar button{

width:45px;

}



}